<%- include("partials/header") %>

    <div class="box">
      <div>
        <h1 class="h3 mb-3 font-weight-normal">Welcome to YSLee Website, </h1>
        <h1 class="h3 mb-3 font-weight-normal">Please register, or login if you have an account.</h1>
        <br>
        <a class="btn" href="/register" role="button">Register</a>
        <a class="btn" href="/login" role="button">Login</a>
      </div>
      <div class="">
        <br>
        <h4>Weather Information</h4>
        <p>The current time in <%=country%> is <%=time%></p>
        <p>The weather is currently <%=description%> </p>
        <p>The temperature is <%=temp%> degrees Celcius.</p>
        <img src=<%=url%> alt="">
      </div>
    
  </div>
    
    

<%- include("partials/footer") %>
