<%- include("partials/header") %>

  <body class="text-center">
  <form action= "/login" class="form-signin" method = "post">
    
    <h1 class="h3 mb-3 font-weight-normal">Log In here</h1>
    <input type="email"  name="login_email" class="form-control top" placeholder="Email" required>
    <input type="password"  name="login_password" class="form-control bottom" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    <div class="">
      <br>
      <h4>Weather Information</h4>
      <p>The current time in <%=country%> is <%=time%></p>
      <p>The weather is currently <%=description%> </p>
      <p>The temperature is <%=temp%> degrees Celcius.</p>
      <img src=<%=url%> alt="">
    </div>
    
  </form>

<%- include("partials/footer") %>
